##  Question 1

In [19]:
a = 0
def b():
    global a
    a = c(a)
    print(a)

def c(a):
    return a+2

In [20]:
b()
b()
b()

2
4
6

In [21]:
a

6

## Explaination :
####                    When the code is executed as described , the value displayed by the expression a is 6. 
####                1. The variable a is declared and assigned the value of o.
####                2. The function b() is defined.
####                3. The function c(a) is defined and which returns a+2.
####                4. The first call b() executes. Again, since a is a global variable within the function,
####                   the current value of a outside of the function is used.So, c(a) returns a+2, which is 2,
####                   so, the value of a is set to 2.
####                5. The second call to b() executes. Again, since a is a global variable within the function,
####                   the current value of a is now 2 and is used as the argument to c(a).
####                   So, c(a) returns a+2, which 2+2.so, the resultant value of a is set to 4.
####                6. The third call to b() executes. As the previous,the current value of a(which is 4) is used
####                   as the argument to c(a), and c(a) returns a+2, which is now 6.So, the resultant value of a is 6.
####                7. Finally, the expression a is evaluated, which simply return the current value of a, which is 6.

## Question 2

In [23]:
def file_length(file_name):
    try:
        file_open = open(file_name)
        file_content = file_open.read()
        file_open.close()
        print(len(file_content))
    except FileNotFoundError:
        print(f"file {file_name} is not found.")

In [24]:
file_length("C:/Users/Admin/Desktop/Sem 1/BDAT 1004 D.P Roshan sahu/Assignment/ProblemSet2/Filelength.txt")

123

In [25]:
file_length("C:/Users/Admin/Desktop/Sem 1/BDAT 1004 D.P Roshan sahu/Assignment/ProblemSet2/Filelength1.txt")

file C:/Users/Admin/Desktop/Sem 1/BDAT 1004 D.P Roshan sahu/Assignment/ProblemSet2/Filelength1.txt is not found.

## Question 3

In [33]:
class Marsupial:

    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, toy):
        self.pouch.append(toy)

    def pouch_contents(self):
        return self.pouch

In [34]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [35]:
class Kangaroo(Marsupial):

    def __init__(self, t1=0, t2=0):
        super().__init__()
        self.t1 = t1
        self.t2 = t2

    def jump(self, dx, dy):
        self.t1 += dx
        self.t2 += dy

    def __str__(self):
        return (f"I am a Kangaroo located at coordinates ({self.t1},{self.t2})")

In [36]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [40]:
def collatz(y):
    print(y)

    if y == 1:
        return

    elif y % 2 == 0:
        collatz(y // 2)

    else:
        collatz(3 * y + 1)

In [41]:
collatz(1)

1

In [42]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [44]:
def binary(n):
    result = ""
    if n == 0:
        return "0"
    while n > 0:
        result = str(n % 2) + result
        n //= 2
    return result

In [45]:
binary(0)

'0'

In [46]:
binary(1)

'1'

In [47]:
binary(3)

'11'

In [48]:
binary(9)

'1001'

## question 6

In [36]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.file_header = 0
        self.header = False

 

    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.file_header = 1
            self.header = True
        elif tag == 'h2':
            self.file_header = 2
            self.header = True
        else:
            self.header = False

 

    def handle_data(self, data):
        if self.header:
            indent = '  ' * (self.file_header - 1)
            header_content = data.strip()
            if header_content:
                print(f"{indent}{header_content}")

 


file_link = r"C:/Users/Admin/Desktop/Sem 1/BDAT 1004 D.P Roshan sahu/Assignment/ProblemSet2/w3c.html"
with open(file_link, 'r') as infile:
    content = infile.read()

 

hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

## Question 7

In [23]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class MyHTMLParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            href = dict(attrs).get('href')
            if href:
                self.links.append(href)

def webdir(url, depth, indent):
    print(" " * indent, url)
    if depth == 0:
        return
    try:
        response = urlopen(url)
        html_content = response.read().decode()
    except:
        return
    parser = MyHTMLParser()
    parser.feed(html_content)
    links = parser.links
    for link in links:
        sub_url = urljoin(url, link)
        webdir(sub_url, depth - 1, indent + 4)

In [24]:
url = "https://reed.cs.depaul.edu/lperkovic/"
depth = 2
indent = 0
webdir(url, depth, indent)

 https://reed.cs.depaul.edu/lperkovic/
     http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
     http://www.cdm.depaul.edu
     https://reed.cs.depaul.edu/lperkovic/courses/csc241/
     https://reed.cs.depaul.edu/lperkovic/courses/csc242/
     https://reed.cs.depaul.edu/lperkovic/papers/papers.html

## Question 8

In [1]:
import sqlite3

conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

create_table_query = '''
CREATE TABLE IF NOT EXISTS temperature (
    City VARCHAR,
    Country VARCHAR,
    Season VARCHAR,
    Temperature FLOAT,
    Rainfall FLOAT
)
'''

cursor.execute(create_table_query)

import sqlite3


conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

 
create_table_query = '''
CREATE TABLE IF NOT EXISTS temperature (
    City VARCHAR,
    Country VARCHAR,
    Season VARCHAR,
    Temperature FLOAT,
    Rainfall FLOAT
)
'''

cursor.execute(create_table_query)

insert_query = '''
INSERT INTO temperature (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)'''

data = {
    'City': ['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'London', 'London', 'London', 'London', 'Cairo', 'Cairo', 'Cairo', 'Cairo'],
    'Country': ['India', 'India', 'India', 'India', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Egypt', 'Egypt', 'Egypt', 'Egypt'],
    'Season': ['Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'],
    'Temperature': [24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2],
    'Rainfall': [5.9, 16.2, 1549.4, 346.0, 207.7, 169.6, 157.0, 218.5, 16.5, 6.5, 0.1, 4.5]
}

for i in range(len(data['City'])):
    cursor.execute(insert_query, (data['City'][i], data['Country'][i], data['Season'][i], data['Temperature'][i], data['Rainfall'][i]))

conn.commit()


print("value added")

table1 = {
    'City': ['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'London', 'London', 'London', 'London', 'Cairo', 'Cairo', 'Cairo', 'Cairo'],
    'Country': ['India', 'India', 'India', 'India', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Egypt', 'Egypt', 'Egypt', 'Egypt'],
    'Season': ['Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'],
    'Temperature': [24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2],
    'Rainfall': [5.9, 16.2, 1549.4, 346.0, 207.7, 169.6, 157.0, 218.5, 16.5, 6.5, 0.1, 4.5]
}

for i in range(len(table1['City'])):
    cursor.execute(insert_query, (table1['City'][i], table1['Country'][i], table1['Season'][i], table1['Temperature'][i], table1['Rainfall'][i]))

# Commit the changes and close the connection
conn.commit()

print("value added")

value added
value added

In [3]:
import sqlite3

 
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

 
# a)
query_a = "SELECT * FROM temperature"
cursor.execute(query_a)
result_a = cursor.fetchall()
print("a) All the temperature data.")
for row in result_a:
    print(row)

 
# b)
query_b = "SELECT DISTINCT City FROM temperature"
cursor.execute(query_b)
result_b = cursor.fetchall()
print("\nb) All the cities, but without repetition.")
for row in result_b:
    print(row[0])

 
# c)
query_c = "SELECT * FROM temperature WHERE Country = 'India'"
cursor.execute(query_c)
result_c = cursor.fetchall()
print("\nc) All the records for India.")
for row in result_c:
    print(row)

 
# d)
query_d = "SELECT * FROM temperature WHERE Season = 'Fall'"
cursor.execute(query_d)
result_d = cursor.fetchall()
print("\nd) All the Fall records")
for row in result_d:
    print(row)

 
# e)
query_e = "SELECT City, Country, Season FROM temperature WHERE Rainfall BETWEEN 200 AND 400"
cursor.execute(query_e)
result_e = cursor.fetchall()
print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in result_e:
    print(row)

 
# f)
query_f = "SELECT City, Country FROM temperature WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature"
cursor.execute(query_f)
result_f = cursor.fetchall()
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
for row in result_f:
    print(row)

 
# g)
query_g = "SELECT SUM(Rainfall) FROM temperature WHERE Country = 'Cairo'"
cursor.execute(query_g)
result_g = cursor.fetchone()[0]
print("\ng) The total annual rainfall for Cairo.")
print(result_g)

 
# h)
query_h = "SELECT Season, SUM(Rainfall) FROM temperature GROUP BY Season"
cursor.execute(query_h)
result_h = cursor.fetchall()
print("\nh) The total rainfall for each season:")
for row in result_h:
    print(row)

 
# Close the connection
conn.close()

a) All the temperature data.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

b) All the cities, but without repetition.
Mumbai
London
Cairo

c) All the records for India.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')

g) The total annual rainfall for Cairo.
None

h) The total rainfall for each season:
('Fall', 1138.0)
('Spring', 384.59999999999997)
('Summer', 3413.0)
('Winter', 460.2)

## Question 9

In [16]:
words = ('The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

# Print uppercase words
uppercase_words = [word.upper() for word in words]
print("A)",uppercase_words)

# Print lowercase words
lowercase_words = [word.lower() for word in words]
print("B)",lowercase_words)

# Print the length of each word
word_lengths = [len(word) for word in words]
print("C)",word_lengths)

# Print the uppercase/lowercase version of each word, along with its length
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("D)")
for word in word_info:
    print(word)

# Print words with length 4 or greater
long_words = [word for word in words if len(word) >= 4]
print("E)",long_words)

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C) [3, 5, 5, 3, 5, 4, 3, 4, 3]
D)
['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]
E) ['quick', 'brown', 'jumps', 'over', 'lazy']